* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins',sans-serif;
  background-color:#FF5A5F;
  ;
}

.App {
  width: 550px;
  margin: auto;
  margin-top: 25px;
  background-color:#FFFFFF;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 4px 5.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

nav {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  background: #FFFFFF;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.gray {
  color: #918E9B;
}

.boldText {
  font-weight: bold;
}

.nav--logo {
  max-width: 100px;
}

.hero--HeroBox {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
}

.hero--title {
  margin-bottom: 16px;
}

.hero--text {
  margin-top: 0;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card--Box {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column;
  position: relative;
}

.card--Starpic {
  height: 14px;
}


.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  max-height: 235px;
}

.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: seashell;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  border-radius: 5px;
}